*{
  padding:0;
  margin:0;
}

.header-container{
  display: flex;
  justify-content: space-around;
  background:#6a747d;
}
.header-left{

display: flex;
}
.header-right{
  display: flex;
}

.nav-container{
display: flex;
align-items: center; 
justify-content: center;
}
.left-items{
  color:white;
  font-weight: bold;
 
 padding:5px;
 border:1px solid #3e4347;
 width:100px;
 text-align: center;
 line-height: 40px; 
 background: #3e4347;
}
.right-items{
  padding:20px;
}
.right-items1{
  border:1px solid #41558a;
  width:100px;
  text-align:center;
  line-height: 50px;
  font-weight: bold;
  background:#41558a;
  color:white;


}
.right-items2{
  background:#3e4346;
  border:1px solid #3e4346;
  width:140px;
  text-align: center;
  line-height: 50px;
  font-weight: bold;
  color:white;
}

.nav-items{
 
 padding:10px;
 
}

.nav-menu{
  display: flex;
  padding:10px;
  padding-top:20px;
}
